<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.samsung.soundscape"
    android:versionCode="102"
    android:versionName="1.1" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="21" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />

    <application
        android:name=".App"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/Theme.Bootstrap.Dark" >
        <!--<activity-->
            <!--android:name=".ui.SplashActivity"-->
            <!--android:configChanges="orientation|screenLayout|layoutDirection|keyboardHidden|screenSize"-->
            <!--android:screenOrientation="portrait"-->
            <!--android:label="@string/app_name"-->
            <!--android:theme="@style/Theme.AppCompat.NoActionBar">-->
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->

                <!--<category android:name="android.intent.category.LAUNCHER" />-->
                <!--<category android:name="android.intent.category.DEFAULT" />-->
            <!--</intent-filter>-->
        <!--</activity>-->
        <activity
            android:name=".ui.MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.samsung.soundscape.ui.MainActivity" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.BootstrapTimerActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:parentActivityName=".ui.MainActivity" >

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <!-- Both parent activity attributes have to contain the full package name -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.samsung.soundscape.ui.MainActivity" />
        </activity>

        <service
            android:name=".core.TimerService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name=".authenticator.AccountAuthenticatorService"
            android:process=":auth" >
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>

        <activity
            android:name=".authenticator.BootstrapAuthenticatorActivity"
            android:excludeFromRecents="true" >

            <!--
                No intent-filter here! This activity is only ever launched by
                someone who explicitly knows the class name
            -->
        </activity>
        <activity android:name=".ui.NewsActivity" />
        <activity
            android:name=".ui.UserActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".ui.ConnectActivity"
            android:label="@string/app_name"
            android:configChanges="orientation|screenLayout|layoutDirection|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.PlaylistActivity"
            android:label="@string/title_activity_playlist"
            android:launchMode="singleTop">
        </activity>
        <activity
            android:name=".ui.LibraryActivity"
            android:label="@string/title_activity_library"
            android:launchMode="singleTop">
        </activity>
    </application>

</manifest>
